body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}
.container1 {
  width: 300px;
  padding: 16px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  color: #333;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background: #f8f8f8;
  box-sizing: border-box;
  transition: 0.3s;
}
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #4caf50;
  box-shadow: 0 0 8px 0 #4caf50;
}
button {
  background-color: #add8e6; /* Light Blue */
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  transition: 0.3s;
}
button:hover {
  background-color: #ffa500; /* Orange */
}
p {
  text-align: center;
}
a {
  color: #4caf50;
}
